<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}{% endblock %}
   <h1>{{context1}}</h1> 
   {% for demo in context %}
      <h3>{{demo}}</h3>

   {% endfor %}<br/>

   <a href={{context2}}> Read Full Article</a>
   
      
      <h1>{{context4}}</h1>
 <a href={{context3}}> See Question</a>
   
</body>

</html>