<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Index</title>
</head>

<body>
    <h1 style="text-align: center;font-family: sans-serif;color:coral;">Simple content aggregator</h1>
    <div class="wrap">
        <div class="search">
            <form action="/" method="POST" class="search">
                <input type="text" name="query" id="query" class="searchTerm" value="{{session['query']}}"
                    placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </form>

        </div>
        <br />
        {% if sites %}
        <p>Search query: <b>"{{session.get("query")}}"</b> in:</p>
        <ul>
            {% for key,val in sites.items() %}

            <li><a href="/search/{{key}}">{{val}}</a><br /></li>
            <br />

            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="links">

    </div>

</body>

</html>