<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<p><a href="/">home</a></p>
<br />
<p>Displaying page {{ index+1 }} out of {{max_ind}}</p>
{% if article.type=="so" %}
<h2>{{article.header}}</h2>
{{article.question}}
<br /><br />
<h2>Top answer: </h2>
{{article.answer}}<br />

{% endif %}
<br />
<br />

{% if article.type=="md" %}
<h2>{{article.title}}</h2>
{{article.summary}}
<br /><br />
{% endif %}
<br />
{% if article.type=="gfg" %}
<h2>{{article.title}}</h2>
{{article.summary}}
<br /><br />
{% endif %}
<br />
<i>
    Source: <a target="_blank" href="{{article.link}}">{{article.link}}</a>
</i>
<br /><br />
{% if index > 0 %}
<a href="/prev" class="btn btn-primary" style="float: left;margin-left: 50px;">prev</a>
{% endif %}
{% if index < max_ind-1 %} <a class="btn btn-primary" href="/next/{{article.type}}"
    style="float: right;margin-right: 50px;">
    next</a>
    {% endif %}