<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
    <p><a href="/">home</a></p>
    <br />
    <div class="container">
        {% for i in [0,3,6] %}
        <div class="row">
            {% for j in [0,1,2] %}
            <div class="col-4">
                <div class="card" style="width: 25rem;">

                    <div class="card-body">
                        <b>Tweet by : {{tweets[i+j].user}}</b>
                        <p class="card-text">{{tweets[i+j].text}}</p>
                        <a href="https://twitter.com/twitter/statuses/{{tweets[i+j].id}}" target="_blank"
                            class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br /> <br />
        </div>
        {% endfor %}
    </div>


</body>

</html>