<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
    <p><a href="/">home</a></p>
    <br />


    {%for k in context%}
    <div class="jumbotron jumbotron-fluid">
        <iframe style="display: block;margin: 0 auto;" allowfullscreen width="600" height="345"
            src="https://www.youtube.com/embed/{{k}}">
        </iframe>
    </div>
    {% endfor %}

</body>

</html>